/*
    Google font
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
    Variables
*/

:root{
    --primary-color: #0583F2;
    --second-color: #091E4C;
    --text-color: #333333;
    --whilte-color: #FFFFFF;
    --body-color: #F2F2F2;

    --font-family: "Poppins", sans-serif;
}

/*
    Reset
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-family: var(--font-family);
    background-color: var(--body-color);
}

input, button{
    border: none;
    background-color: transparent;
}

input:focus{
    outline: none;
}

a, abbr{
    text-decoration: none;
}

/*
    Content
*/

.content{
    width: 60rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 2);
    background-color: var(--whilte-color);
}

.content_inputs{
    padding: 2rem;
    grid-row: 1 2;
    grid-column: 1;
    display: inline-flex;
    flex-direction: column;
}

.content_result{
    grid-column: 2;
    padding: 2rem;
    color: var(--whilte-color);
    background-color: var(--second-color);
}

.list{
    
    display: flex;
    padding: 0.5rem;
    list-style: none;
    margin-bottom: 1rem;
    flex-direction: column;
    background-color: #0c265f;
    justify-content: space-between;
}

.content_image{
    width: 400px;
    margin: auto;
}

.title-result{
    text-align: center;
}
.text__result{
    color: #8d8d8d;
}
.content_calc{
    grid-column: 2;
    grid-row: 2 2;
    padding: 2em;
    background-color: var(--primary-color);
}
input{
    padding: .5rem 0rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--text-color);
}

.btn__calc{
    cursor: pointer;
    margin-top: 2rem;
    padding: 1rem 2rem;
    color: var(--text-color);
    background-color: var(--whilte-color);
}